<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <clear/>
    <!-- Настройка "target": строка подключения к базе данных MS SQL Server - получатель данных. -->
    <add name="target"
         connectionString="Server=WINGYACE-HP\SQLEXPRESS;Integrated Security=true;Initial Catalog=PRSrv_Transfer1C;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <clear/>
    <!-- Настройка "source": строка подключения к информационной базе данных 1С:Предприятие - источник данных. -->
    <add key="source" value="File=&quot;C:\Users\Wingy Ace\Documents\InfoBase&quot;;Usr=&quot;Администратор&quot;;" />
    <!-- Настройка "version": ProgID компонента ComConnector, используемого для подключения к 1С:Предприятие -->
    <add key="version" value="V83.COMConnector" />
  </appSettings>
</configuration>

<!--
// Строка подключения к ИБ 1С (файловый вариант) "File=""C:\1CBase""";Usr=""login"";Pwd=""password"";";
// Строка подключения к ИБ 1С (серверный вариант) "Srvr=""server"";Ref=""BaseName"";Usr=""login"";Pwd=""password"";";
-->